<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages='com.mgm.services.booking.room.config'>
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %p Metadata[sid:%X{SESSIONID},rid:%X{REQUESTID},cust:%X{MLIFENO},gtwy_traceid:%X{API_GTWYTRACEID}] [%t] %C{1.} %m %throwable%n</pattern>
            </PatternLayout>
        </Console>
        <Console name="MaskConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %p Metadata[sid:%X{SESSIONID},rid:%X{REQUESTID},cust:%X{MLIFENO},gtwy_traceid:%X{API_GTWYTRACEID}] [%t] %C{1.} %sData %throwable%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
 
    <Loggers>
        <Logger name="com.mgm.services.booking.room.dao.impl" level="info"  additivity="false">
            <AppenderRef ref="MaskConsole" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
 
</Configuration>
